@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  background-color: #0F1110;
  color: white;
}

.scrollable-container {
  position: relative;
  max-height: 450px; /* Adjust the height as per your requirement */
  overflow-y: auto;
}